# This workflow will upload a Python Package using Twine when a tag is pushed
name: Publish Python Package

on:
  push:
    tags:
      - 'v*'

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'

    - name: Install uv
      uses: astral-sh/setup-uv@v3
    - name: Install dependencies
      run: |
        uv pip install --system build

    - name: Build package
      run: python -m build

    - name: Publish package to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        user: __token__
        password: ${{ secrets.PYPI_API_TOKEN }}

    - name: Get Release Notes
      id: changelog_reader
      uses: mindsers/changelog-reader-action@v2
      with:
        version: ${{ github.ref_name }}
        path: ./CHANGELOG.md

    - name: Create GitHub Release
      uses: softprops/action-gh-release@v2
      with:
        body: ${{ steps.changelog_reader.outputs.changes }}
        files: dist/*